@use "sass:map";

@use "@/lib/ui/styles/abstracts/" as *;

.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: fn-space(3);
}

.titleAnchor {
  display: inline;
}

.link {
  padding: fn-space(1) fn-space(2);
  border-radius: fn-space(1);
  background-color: transparent;

  &:hover {
    color: var(--color-danger);
  }
}

.active {
  background-color: var(--color-warning-muted);
  color: var(--color-success-emphasis);
}
