@use "sass:map";

@use "@/styles/abstracts/" as *;

.successMessage {
  color: var(--color-success-emphasis);
}

.verificationNotice {
  font-size: fn-font-size(6);
  background-color: var(--color-1-muted);
  color: var(--color-1-emphasis);
  border-radius: fn-border-radius-size(4);
  padding: 0.5rem;
}
