IS_TEST=

# api
API_URL=

# auth
BETTER_AUTH_BASE_URL=
## cors
### comma separated list of frontend origins
TRUSTED_ORIGINS=
## db
DATABASE_URL=
## oAuth
### OAuth: Google
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
### OAuth: Github
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
## emails: required in production
EMAIL_ID=
EMAIL_PASSWORD=

# vercel-blob, local (fallback)
UPLOAD_METHOD=

