@use "sass:map";

@use "@/lib/ui/styles/abstracts/" as *;

.rootContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  height: 50vh;
  padding: fn-space(5);
  gap: fn-space(5);

  @include media-phone {
    padding: fn-space(2);
  }
}

.header {
  color: var(--color-danger);
}

.text {
  font-size: fn-font-size(8);
}

.resetButton {
  @include btn(success);
}
