@use "sass:map";

@use "@/lib/ui/styles/abstracts/" as *;

.mainContainer {
  max-width: 100vw;
  @extend %text-center;

  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: fn-space(8);
  font-size: fn-font-size(8);
  padding-bottom: fn-space(8);

  @include media-phone {
    display: block;
    margin: fn-space(4) auto;
    padding: fn-space(2) fn-space(2);
    padding-bottom: fn-space(8);
    overflow: auto;
  }
}

.mainHeader {
  & h1 {
    color: var(--color-success);
    text-shadow: #{$shadow-lg};
    border-bottom: 1px solid var(--color-2);
  }
}

.stackAndFeaturesContainer {
  display: grid;
  gap: 1rem;
  grid-template-rows: auto, 1fr, auto, 1fr;
  grid-template-columns: 1fr;
  justify-items: start;

  max-width: 600px;

  overflow: auto;

  & h2 {
    padding: 0;
    margin: 0;
    color: var(--color-2);
    text-shadow: #{$shadow-lg};
  }
}

.featuresRow,
.stackRow {
  width: 100%;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);

  @include media-phone {
    grid-template-columns: 1fr;
  }
}
